/* Write your CSS here */
.btn {
  background-color: #585076;
  width: 170px;
  height: 30px;
  color: #d4d3db;
  border: #c4c4c4 solid 1px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
